@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
  width: 100%;
  margin: 0;
  background-color: rgb(75, 72, 72, 0.1);
  font-family: 'Inter', sans-serif;
}

h1 {
  color: #3da5df;
  font-size: 35px;
  font-weight: bold;
}

span {
  color: #16608a;
}
a {
  text-decoration: none;
}

p,
h2 {
  color: #4b4848;
}

/* NAVBAR CONTENTS */

.logo-div{
  background-color: whitesmoke;
  width: 5%;
  border-radius: 50%;
}

.logo-div img {
  width: 100%;
}

.nav_list {
  margin: 0 15%;
}

.navbar {
  padding: 0.5% 3%;
  background-color: #16608a;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(255, 255, 255, 0.9);
}

.btn-div {
  width: 16%;
  display: flex;
  justify-content: space-between;
}

.btn-div a {
  text-decoration: none;
  font-size: 0.8rem;
}

.first_btn, .second_btn {
  padding: 6px 20px;
  background-color: #3da5df;
  color: rgb(255, 255, 255, 0.9);
  border: 1px solid rgba(108, 189, 233, 0.8);
  border-radius: 5px;
  cursor: pointer;
}

.first_btn:hover, .second_btn:hover {
  background-color: rgb(61, 165, 223, 0.8);
}

/* MAIN SECTION */

.fluid_div {
  padding: 5% 3% 7%;
}

.section1_p,
.section2_p {
  line-height: 2;
}

.amount_div {
  display: flex;
  margin-top: 40%;
}
  
.amount_div div {
  margin-right: 7%;
}
  
.amount_div h2 {
  margin: 0;
  font-weight: bold;
}
  
.amount_div p {
  margin: 0;
}

.img-thumbnail {
  border: 1px solid #3da5df !important;
  border-radius: 50% 50% 4% 4% !important;
  height: 580px;
  width: 90%;
}

/* MENU SECTION */

.menu_container {
  position: absolute;
  left: 3%;
  top: 50%;
  background-color: white;
  padding: 0.8% 3% 2%;
  width: 65%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.hero_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu_btn {
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(75, 72, 72, 0.1) !important;
  color: grey;
  border: 1px solid grey;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3) !important;
}

.search {
  width: 80%;
  height: 75%;
  font-size: 1.1rem;
  background-color: #3da5df;
  color: rgb(255, 255, 255, 0.9);
  justify-self: right;
  cursor: pointer;
}

.search:hover {
  color: #3da5df;
}

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 90%;
  background-position: 50%;
  box-sizing: border-box;
}

.fade-2 {
  border-width: 0 0 1px;
  color: skyblue;
  border-image: linear-gradient(
    90deg,
    rgba(skyblue, 0),
    rgba(skyblue, 1) 50%,
    rgba(skyblue, 0) 100%) 0 0 100%;
  border-style: double;
}

/* ABOUT_US SECTION */

.about {
  position: relative;
  padding-left: 8%;
}

.about:before {
  content: "";
  display: block;
  width: 6%;
  height: 2px;
  background: #4b4848;
  left: 0;
  top: 50%;
  position: absolute;
}

.section2_btn {
  background-color: #3da5df;
  border: none;
}

.section2_btn a {
  text-decoration: none !important;
}

.section2_btn:hover {
  background-color: rgb(255, 255, 255, 0.9);
  color: #3da5df;
}

/* LISTINGS SECTION */

.listings_row {
  padding: 2% 0 1%;
}
.choice {
  position: relative;
  padding-left: 5%;
}

.choice:before {
  content: "";
  display: block;
  width: 4%;
  height: 2px;
  background: #4b4848;
  left: 0;
  top: 50%;
  position: absolute;
}

.card-body {
  background-color: #16608a !important;
}

.card-body p {
  color: rgb(255, 255, 255, 0.9) !important;
  font-size: 1rem !important;
}

.prices_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding-top: 3% !important;
}

.prices_div a {
  text-decoration: underline dotted;
  color: rgb(255, 255, 255, 0.9);
  font-size: 1rem !important;

}

.listings_btn {
  text-align: right;
  padding: 2% 0%;
}

.listings_btn a {
  text-align: center !important;
  text-decoration: none;
  background-color: #3da5df;
  color: rgb(255, 255, 255, 0.9);
  padding: 18px 35px;
  border: none;
  border-radius: 7px;
}

/* TESTIMONIALS SECTION */

#testimonials {
  margin: 7% 3%;
}

.testimonials_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 2%;
}

.testimonials_div p {
  color: #3da5df;
  font-weight: bold;
}

.quote_img {
  width: 15%;
  position: absolute;
  right: 2%;
  top: 60%;
}

.clients_div {
  /* display: grid; */
  /* grid-row: ; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* gap: 60px; */
  align-items: center;
  padding: 1% 2%;
  z-index: -1;
}

.clients_div p {
  font-size: 13px;
}

.individual_client {
  background-color: rgb(245, 245, 245);
  width: 100%;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
  padding: 3% 5%;
}

.individual_client:hover {
  border: 2px solid #3da5df;
  box-shadow: 0px 0px 30px rgb(20, 30, 39, 0.2);
  transform: translateY(-7px);
}

.individual_client p {
  padding: 1% 4%;
  text-align: center;
  line-height: 1.7;
  word-wrap: break-word;
}

.individual_client i {
  color: #3da5df;
  position: absolute;
  left: 8%;
  top: 4%;
}

.client_info {
  display: flex;
  padding: 3% 8%;
}

.client_info p {
  text-align: left !important;
}

.client_img {
  background-image: url("images/man.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20%;
  border: 2px solid rgb(255, 196, 0);
  border-radius: 50%;
}

.woman_img {
  background-image: url("images/woman\ \(2\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20%;
  border: 2px solid rgb(255, 196, 0);
  border-radius: 50%;
}

#testimonials_carousel, 
.for_carousel, 
.hidden_img, .hidden_div {
  display: none;
}
 
/* LAST SECTION */

.last_section {
  display: flex;
  margin: 12% auto;
  justify-content: center;
  position: relative;
}

.house_image_container{
  width: 30%;
  position: absolute;
  top: -40%;
  left: 0;
  transform: translateX(45%);
}
@media screen and (max-width: 1231px) {
  .house_image_container{
    top: -35%;
  }
}
@media screen and (max-width: 1161px) {
  .house_image_container{
    top: -30%;
  }
}
@media screen and (max-width: 1100px) {
  .house_image_container{
    top: -29%;
  }
}
@media screen and (max-width: 1070px) {
  .last_section_text h1{
    font-size: 1.3rem;
  }
  .last_section_text p{
    font-size: 0.9rem !important;
  }
  .input_container button {
    padding: 5px 25px !important;
  }
}

@media screen and (max-width: 985px) {
  .house_image_container{
    top: -38% !important;
  }
  .last_section_text h1{
    font-size: 1.1rem !important;
  }
  .last_section_text p, .input_container input, .input_container button{
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 900px) {
  .house_image_container{
    top: -30% !important;
  }

  .input_container button {
    padding: 5px 15px !important;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 821px) {
  .house_image_container{
    top: -40% !important;
    transform: translateX(25%);
    width: 34% !important;
  }
  .last_section_text{
    width: 60% !important;
  }
}
@media screen and (max-width: 782px) {
  .house_image_container{
    top: -33.5% !important;
  }
}

@media screen and (max-width: 767px) {
  .house_image_container{
    top: -34% !important;
    transform: translateX(12%);
    width: 37% !important;
  }
  .last_section_text{
    width: 65% !important;
  }
}

@media screen and (max-width: 710px) {
  .house_image_container{
    top: -30.5% !important;
    transform: translateX(12%);
    width: 37% !important;
  }
  .last_section_text h1{
    font-size: 1rem !important;
  }
  .last_section_text p, .input_container input, .input_container button{
    font-size: 0.75rem !important;
  }
}
@media screen and (max-width: 645px) {
  .house_image_container{
    top: -30.5% !important;
    transform: translateX(6%);
    width: 40% !important;
  }
  .input_container button {
    padding: 5px 10px !important;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 580px) {
  .house_image_container{
    top: -25% !important;
    transform: translateX(-5%);
    width: 45% !important;
  }

  .last_section{
    transform: translateX(5%);
  }
}

@media screen and (max-width: 525px) {
  .house_image_container{
    top: -33% !important;
    transform: translateX(-10%);
    /* width: 48% !important; */
  }
  .last_section{
    transform: translateX(5%);
  }
  .last_section_text h1{
    font-size: 0.9rem !important;
  }
  .last_section_text p, .input_container input, .input_container button{
    font-size: 0.65rem !important;
  }
  .input_container{
    padding: 2% !important;
  }
}

@media screen and (max-width: 507px) {
  .house_image_container{
    top: -28% !important;
    transform: translateX(-10%);
    width: 48% !important;
  }
  .last_section{
    transform: translateX(5%);
  }
  .last_section_text h1{
    font-size: 0.9rem !important;
  }
  .last_section_text p, .input_container input, .input_container button{
    font-size: 0.65rem !important;
  }
  .input_container{
    padding: 2% !important;
  }
}

@media screen and (max-width: 451px) {
  .house_image_container{
    top: -24% !important;
    transform: translateX(-12%);
    width: 48% !important;
  }
  .last_section{
    transform: translateX(6%) !important;
  }
}

@media screen and (max-width: 434px) {
  .house_image_container{
    top: -20% !important;
    transform: translateX(-12%);
    width: 48% !important;
  }
  .last_section{
    transform: translateX(6%) !important;
  }
}
@media screen and (max-width: 420px) {
  .house_image_container{
    top: -26% !important;
    transform: translateX(-20%);
    left: 0;
    width: 53% !important;
  }
  .last_section{
    transform: translateX(2%) !important;
  }
  .last_section_text{
    width: 73% !important;
  }
}
@media screen and (max-width: 400px) {
  .house_image_container{
    top: -15% !important;
  }
}

@media screen and (max-width: 396px) {
  .house_image_container{
    top: -8% !important;
  }
}

@media screen and (max-width: 357px) {
  .house_image_container{
    top: -8% !important;
  }
}
/* @media screen and (max-width: 373px) {
  .house_image_container{
    top: -16% !important;
  }
} */
.house_image_container img{
  width: 100%;
  height: 100%;
}


.last_section_text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  width: 50%;
  /* height: 60%; */
  background-color: #3da5df;
  color: white !important;
  padding: 3% 2% 2%;
  margin: auto 0;
  border-radius: 25px;
}

.last_section_text h1 {
  color: white !important;
  font-size: 1.5rem;
  margin: 0;
}

.last_section_text p {
  margin: 2% 0 5%;
  color: white !important;
}
.input_container {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.input_container input {
  width: 70%;
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.input_container button {
  padding: 9px 25px;
  background-color: #3da5df;
  color: rgb(255, 255, 255, 0.9);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input_container button:hover {
  background-color: rgb(61, 165, 223, 0.8);
}

/* FOOTER SECTION */

.bottom-container {
  background-color: #16608a;
  padding: 1% 0;
  text-align: center;
}

.bottom-container a {
  color: #141e27;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.bottom-container a:hover {
  color: rgb(255, 255, 255, 0.9);
}

.footer-link {
  margin: 0 5%;
}

.copyright {
  color: rgb(255, 255, 255, 0.9);
  font-size: 0.75rem;
  padding: 0.5% 0 0;
}

/* MEDIA QUERY */

@media screen and (min-width:768) {
  .first_img, .second_img {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    position: sticky;
  }

  .logo-div {
    width: 10%;
  }

  .text_div {
    text-align: center !important;
  }

  h1 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .section1_p, .section2_p {
    font-size: 0.8rem;
  }

  .hidden_img {
    display: block !important;
    width: 100%;
    height: 380px;
  }


  .hidden_img img {
    width: 60%;
    height: 100%;
  }

  .hidden_img2 {
    position: relative;
    /* left: 0%; */
    /* transform: translateX(50%); */
    display: flex !important;
    justify-content: center !important;
  }

  .first_img, .second_img {
    display: none !important;
  }

  .amount_div {
    margin-top: 7%;
  }

  .menu_container {
    position: static !important;
    width: 100%;
    margin-top: 3%;
  }
 
  .amount_div {
    justify-content: center;
    font-size: 0.7rem;
  }

  .amount_div p {
    text-align: center;
  }

  .amount_div h2 {
    font-size: 1.5rem;
  }

  .individual_amount {
    margin-right: 6% !important;
  }

  #about_us {
    margin-bottom: 30%;
  }

  .about {
    text-align: left;
  }

  .section2_btn {
    display: block;
    margin: 0% auto;
  }

  .whole_div {
    position: relative;
  }

  #listings {
    padding-top: 5%;
    margin-top: 0%;
  }

  .listings_row {
    width: 70%;
    /* align-items: center;
    display: flex !important;
    justify-content: center; */
    margin: 0 auto;
  }

  .word, .choice {
    font-size: 0.8rem;
    margin: 0px 0px 8px;
  }

  .card-body p, .prices_div a {
    font-size: 0.8rem !important;
  }

  .listings_btn {
    padding: 1% !important;
    width: 35%;
    /* margin-left: 68%; */
    margin: 0 auto;
  }

  .listings_btn a {
    padding: 2%;
  }

  #testimonials {
    display: none;
  }

  #testimonials_carousel {
    display: block;
    text-align: center !important;
    background-color: rgb(245, 245, 245);
    width: 50%;
    margin: 0 auto;
  }
  
  .testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    border: 2px solid rgb(255, 196, 0);
  }

  .carousel_in {
    border-radius: 12px;
    position: relative;
    /* z-index: 1; */
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #3da5df;
    box-shadow: 0px 0px 30px rgb(20, 30, 39, 0.2);
  }
  
  .carousel_in:hover {
    transform: translateY(-7px);
  }

  .carousel_btn {
    border: 1px solid #3da5df;
    color: #3da5df;
    background-color: #3da5df;
    border-radius: 50%;
  }
  
  .testimonial-text {
    padding: 4% 3%;
    /* margin-bottom: 1%; */
    text-align: center;
    line-height: 1.5;
    word-wrap: break-word;
    width: 70%;
    margin: 0 auto;
  }

  .for_carousel {
    display: block;
    margin: 5%;
    text-align: center;
  }
  
  .carousel_text i {
    color: #3da5df;
    position: absolute;
    left: 20%;
    top: 4%;
  }

  .quote_img {
    display: none;
  }
 
}

@media screen and (max-width:600px) {
  .hidden_div {
    display: block;
  }

  .menu_container {
    margin-top: 7%;
  }
  .hero_menu {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .search {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 100%;
    padding-bottom: 2%;
  }

  .hidden_img {
    width: 100%;
    height: 370px;
  }

  .hidden_img img {
    width: 70%;
    height: 100%;
  }

  .carousel_text i {
    display: none;
  }

  #testimonials_carousel {
    width: 65%;
  }

  .testimonial-text {
    width: 80%;
  }
}

@media screen and (max-width:580px) {
  .last_section {
    width: 90%;
  }
}

@media screen and (max-width:500px) {
  .listings_btn{
    width: 50%;
  }
}

@media screen and (max-width:430px) {
  .menu_btn {
    font-size: 0.7rem !important;
    padding: 6% 5%;
  }

  .search {
    justify-self: end;
    font-size: 0.9rem;
    padding: 1% 1%;
  }

  .hidden_img {
    width: 100%;
    height: 290px;
  }

  .hidden_img img {
    width: 80%;
    height: 100%;
  }

  .section2_btn {
   width: 28%;
   position: relative;
   top: 3%;
   /* left: 61%; */
  }

  #testimonials_carousel {
    width: 85%;
  }
}

@media screen and (max-width:425px) {
  .listings_row {
    width: 100%;
  }
}

@media screen and (max-width:392px) {
  .section2_btn {
    width: 40%;
  }

  .section2_btn a {
    text-decoration: none !important;
  }
}

/* @media screen and (max-width:375px) {
  .listings_row {
    width: 100%;
  }
} */